[*]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.yml]
indent_size = 2
max_line_length = 180

[*.md]
indent_size = 2
max_line_length = 180

[*.json]
indent_size = 2
max_line_length = 18000

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2
